body{
    background-color: #F6C5C8;
}
.calc{
    background-color: #060606;
    height: 600px;
    width: 350px;
}

#display{
    background-color: #dddddd;
    height: 200px;
    width: 346px;
    border: none;
}

/* .display-box{
    padding: 10px
} */

.buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 10px;
    padding: 10px;
    padding-top: 40px;
    row-gap: 10px;
}
button{
    height: 70px;
    width: 70px;
    border-radius: 100%;
    text-align: center;
    border: none;
    font-size: 25px;
}
