body{
    background-color: #F6C5C8;
}
.calc{
    background-color: #060606;
    height: 550px;
    width: 350px;
    border-radius: 20px 20px 20px 20px;
}

#display{
    background-color: #1a1a1a;
    height: 140px;
    width: 346px;
    border: none;
    border-radius: 20px 20px 0px 0px;
}

/* .display-box{
    padding: 10px
} */

.buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 10px;
    padding: 10px;
    padding-top: 40px;
    row-gap: 10px;
    
}

button{
    height: 70px;
    width: 70px;
    border-radius: 100%;
    text-align: center;
    border: none;
    font-size: 25px;
    background-color: #191919;
    color: #f46b6e;
    font-weight: 400;
    text-align: center;
    box-shadow: 0 1px 3px 0 rgba(46, 46, 46, 0.333), 0 1px 2px 0 rgba(62,62,62);
    cursor: pointer;
    touch-action: manipulation;
}

button:hover {
  background-color: rgb(62, 62, 62);
}
